 
.card{
background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
                    }
.card:hover{
  border: 1px solid white;
  transition: 0.5s all ease;
}                    
.background{
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

color: white;
}


.backgroundImages {
  background-image: url(https://unblast.com/wp-content/uploads/2021/01/Space-Background-Images-1536x1024.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.text {
background: #CF6555;
background: linear-gradient(to right, #F60002 0%, #CFCFCF 47%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}

.originalButton {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-radius: 0px;
  width: 150px;
  height: 40px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}

.originalButton::before, .originalButton::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: red;
  transition: .3s;
}

.originalButton::before {
  top: 0;
}

.originalButton::after {
  bottom: 0;
}

.originalButton:hover::before {
  transform: translateX(-100%);
}

.originalButton:hover::after {
  transform: translateX(100%);
}
.originalButton1 {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #e31414;
  font-size: 18px;
  border-radius: 0px;
  width: 150px;
  height: 40px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  font-weight: 600;
}

.originalButton1::before, .originalButton1::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: red;
  transition: .3s;
}

.originalButton1::before {
  top: 0;
}

.originalButton1::after {
  bottom: 0;
}

.originalButton1:hover::before {
  transform: translateX(-100%);
}

.originalButton1:hover::after {
  transform: translateX(100%);
}


.containerimg {

  width: 100%;
  height: 100%;
  background-image: url(https://i.ibb.co/WDV1LC4/Adobe-Stock-206435606-Preview.jpg);
}
.card2{
background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
                    }
.card2:hover{
  border: 1px solid white;
  transition: 0.5s all ease;
}

.boxShadow {
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
}